.container {
    padding: 80px 120px;
}
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
.carousel-inner img {
    /* -webkit-filter: grayscale(90%); */
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
.new{
    background:none!important;
    color:inherit;
    border:none; 
    /* padding:10!important; */
    font: inherit;
    font-size: 15px !important;
    border: none;
    outline:none;
}